@media screen and (min-width: 2000px) {
  .container {
    max-width: 1300px;
	-ms-transform: scale(1.5); /* IE 9 */
	-webkit-transform: scale(1.5); /* Safari 3-8 */
	transform: scale(1.4);
	margin-top: 15%; 
  }
  header a{
    font-size: 1.7rem;
  }

}